<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
</head>

<body>
    <main class="container" style="padding: 0;">

        <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'noteapp:main' %}" role="button">Main page</a></li>
                <li><a href="{% url 'noteapp:tag' %}" role="button">Add Tag</a></li>
            </ul>
            <ul>
                <li>Welcome <b>{{ user.username }}!</b></li>
                <li><a href="{% url 'users:profile' %}" role="button">Profile</a></li>
                <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            </ul>
            {% endif %}
        </nav>

        {% if messages %}
        <div>
            {% for message in messages %}
            <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <table role="grid">
        <thead>
            <tr>
                <th scope="col">Name / Notes</th>
                <th scope="col">Count notes</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <th scope="row"><a href="{% url 'noteapp:filter_tag' tag.id %}" data-tooltip="Click to find all notes with tag: {{ tag.name }}"  role="button" class="outline"> {{ tag.name }} </a></th>
                <td><a href="#" data-tooltip="Found total notes with tag: {{ tag.name }}">  {{ tag.note__count }}</a></td>
                <td>
                    <a href="{% url 'noteapp:tag_edit' tag.id %}" role="button">Edit tag</a>
                    <a href="{% url 'noteapp:tag_delete' tag.id %}" role="button" class="contrast"
                       data-target="modal-example" onClick="toggleModal(event)">Delete tag</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <dialog id="modal-example">
        <article>
            <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-example"
            onClick="toggleModal(event)">
            </a>
            <h3>Confirm your action!</h3>
            <p>
            Your action may result in the deletion of records. Are you sure?
            </p>
            <footer>
            <a href="#cancel"
                role="button"
                class="secondary"
                data-target="modal-example"
                onClick="toggleModal(event)">
                Cancel
            </a>
            <a href="#"
                role="button"
                data-target=""
                onClick="onConfiramtion()">
                Confirm
            </a>
            </footer>
        </article>
        </dialog>
    </main>
    <!-- Modal -->
    <script src="/static/noteapp/js/modal.js"></script>
</body>

</html>